.header_box{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.left_head{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MonsterBox{
  width: 50vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

}
.leftbox{
  margin-left: 14vw;
}
.title{
  display: flex;
  flex-direction: column;
  font-size: 88px;
  font-weight: bold;
}
.victor{
  transform: translateX(5vw);
  margin-top: 2vh;
}
.line_enc{
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line1{
  width: 95px;
  height: 5px;
  border-radius: 5px;
  background: white;
}
.line2{
  width: 95px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: translateX(50px);
}
.integbox{
  font-size: 26px;
  position: relative;
}
.wb{
  transform: translateX(8vw);
}
@media (min-width: 375px) {
  .integbox{
    z-index: 5000;
  }
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }

@media (min-width: 1000px) {
  .integbox{
    z-index: 0;
  }

}
@media (min-width: 1500px) {
}
