.btnZone{
  margin-top: 25px;
  margin-bottom: 25px;
}
.btnBox{
  color: black;
  background: white;
  width: 150px;
  height: 60px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: helvetica;
  font-weight: bold;
}
