.home_container{
  background: #1E1A2E;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.home_screen{
  transition: 1s all ease-in-out;
  position: relative;
}
.scrollBox{
  position: fixed;
  z-index: 500;
  top: 83vh;
	left: -65px;
  transition: 1s all ease-in-out;
}
.scrollFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
	transform: rotate(90deg);
}
.sline{
  height: 3px;
  width: 100px;
  background: white;
  margin-left: 5px;
}
.showBar{
  position: fixed;
  margin-left: 40px;
  height: 100vh;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.showBox{
  height: 200px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.showLine{
  width: 45px;
  height: 4px;
	border-radius: 5px;
  background: white;
	transition: .8s all ease-in-out;
}
