.contactForm_box{
  background: #F9F8F4;
  color: #0851AB;
  font-family: helvetica;
  margin-top: 3vh;
  margin-bottom: 3vh;

}
.intro_contact{

}
.form{
  display: flex;
  flex-direction: column;
}
.error_line{
  height: 4vh;
  display: flex;
  align-items: center;
}
.error_text{
  color: #D5243E;
}
.textarea_line{
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.custom_input{
  border: 1px solid #F9F8F4;
  background-color: #F9F8F4;
}
.custom_input:focus{
  outline: 0;
}
.custom_input::placeholder{
  color: #0851AB;
  font-weight: bold;
}
.custom_textarea{
  border: 1px solid #F9F8F4;
  background-color: #F9F8F4;
  height: 7vh;
  resize: none;
}
.custom_textarea:focus{
  outline: 0;
}
.custom_textarea::placeholder{
  color: #0851AB;
  font-weight: bold;
}
/* Supplément */
.cusput{
  background-color: #F9F8F4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 28px;
  width: 210px;
  border-bottom: 2px solid #0851AB;
}
.custext{
  background-color: #F9F8F4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 210px;
  border-radius: 5px;
}
.encard_glass{
  width: 20px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}
.encard_glass img{
  width: 100%;
  height: 100%;
}
.titre_intro{
  font-size: 28px;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.text_intro{
  width: 250px;
  margin-bottom: 5vh;
}
.sub_box{

}
.subutton{
  background: #0851AB;
  border: 2px solid #0851AB;
  border-radius: 35px;
  color: white;
  font-weight: bold;
  height: 25px;
  width: 100px;
  margin-left: 55px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.subutton:hover{
  transform: scale(1.05);
}

@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }

@media (min-width: 1200px) {
  .contactForm_box{
    margin-right: 3vw;
  }
}
@media (min-width: 1500px) {
  .contactForm_box{
    margin-right: 6vw;
  }
}
