.page_content{
  /* background: black; */
  background-image: url('back_contact.svg');
  background-size: cover;
}
.screen_view{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_box{
  position: relative;
  background: #F9F8F4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info_zone{
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: -6vw;
}
.info_box{
  width: 18vw;
  height: 80%;
  background: #0851AB;
  color: white;
  font-family: helvetica;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_titre{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.info_general{
  margin-top: 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info_line{
  display: flex;
  align-items: center;
}
.encard_icon{
  width: 35px;
  height: 35px;
}
.img_icon{
  width: 100%;
  height: 100%;
}
.info_text{
  font-weight: bold;
  margin-left: 1vw;
}
@media (min-width: 375px) {
  .form_box{
    width: 100vw;
    transform: translateX(0vw);
  }
  .info_box{
    width: 25vw;
    height: 80%;
    background: #0851AB;
    color: white;
    font-family: helvetica;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }

@media (min-width: 1000px) {
  .form_box{
    width: 44vw;
    transform: translateX(4vw);
  }
  .info_box{
    width: 18vw;
    height: 80%;
    background: #0851AB;
    color: white;
    font-family: helvetica;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1500px) {
}
