.project_size{
  height: 100vh;
}
.size_zone{
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.p_rightZone{
  position: absolute;
  right: 5vw;
}
.p_rightBox{
  position: relative;

}
.p_leftBox{
  margin-left: 14vw;
  position: relative;
  z-index: 8000;
}
.titleP{
  opacity: 0;
  font-size: 88px;
  transition: 1.2s all ease-in-out;
}
.line_enc{
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.line1{
  width: 95px;
  height: 5px;
  border-radius: 5px;
  background: white;
}
.line2{
  width: 95px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: translateX(50px);
}
.img_enc{
  width: 55vw;
  height: 65vh;
}
.img_fit{
  object-fit: cover;

}
.img_enc_fx{
  width: 55vw;
  height: 65vh;
  overflow: hidden;
  position: relative;
  transition: .5s all ease-in-out;
  transform: scale(0.9) translateX(3.2vw) translateY(3.5vh);

}
.img_fx1{
  position: absolute;
  height: 70vh;
  left: -100px;
  width: 4vw;
  background: white;
  opacity: 0.8;
  transition: .6s all ease-in-out;
}
.img_fx2{
  position: absolute;
  top: -100px;
  height: 7vh;
  width: 60vw;
  background: white;
  opacity: 0.8;
  transition: .6s all ease-in-out;
}

.number{
  position: absolute;
  bottom: 40px;
  right: -40px;
  font-size: 98px;
  transition: .6s all ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.works{
  position: absolute;
  top: 30vh;
  left: -50px;
  font-size: 48px;
  transition: .6s all ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.wfx{
  transition: .6s all ease-in-out;
  transform: translateX(-200px);
}
.nfx{
  transition: .6s all ease-in-out;
  transform: translateY(200px);
}
.into, .btn{
  transition: .8s all ease-in-out;
  opacity: 0;

}
