
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App{
	background: #1E1A2E;
	color: white;
	font-family: 'Russo One', sans-serif;
	height: 100vh;
	overflow: hidden;
}
.Screen{
	transition: 1s all ease-in-out;
}
.showBar{
  position: fixed;
  margin-left: 40px;
  height: 100vh;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showBox{
  height: 200px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.showLine{
  width: 45px;
  height: 4px;
	border-radius: 5px;
  background: white;
	transition: .8s all ease-in-out;
}
.scrollBox{
  position: fixed;
  z-index: 5000;
  bottom: 103px;
	left: -65px;
  transition: .5s all ease-in-out;
}
.scrollFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
	transform: rotate(90deg);
}
.sline{
  height: 3px;
  width: 100px;
  background: white;
  margin-left: 5px;
}
